/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.justify {
	text-align: justify;
}

#affiliation-img {
	text-align: center;
	padding: 30px 0px;
	
	.center {
		display: inline-block;
	}
	#diverse {
		height: 40px;
	}
	#ur1 {
		height: 65px;
	}
	#esir {
		height: 40px;
	}
	#irisa {
		height: 45px;
	}
	#inria {
		height: 50px;
	}
	#LIST,#LISTdark {
		height: 80px;
	}
	#BLC {
		height: 50px;
    padding-right: 10px;
	}
	#BAF {
		height: 50px;
    padding-left: 10px;
	}
}

@media (max-width: 409px) {
	.social{
		.contact-icon {
			font-size: 3rem !important;
		}
	} 
	.profile-small {
		.picture {
			max-width: inherit;
			flex: 0 0 100%;
			-ms-flex: 0 0 100%;
			padding-left: 25%;
			padding-right: 25%;
			padding-top: 0;
			margin-bottom: 15px;
			
			img {
				border-radius: 50% !important;
			}
		}
	}
	#affiliation-img {
		text-align: center;
		padding: 25px 0px;
		
		.center {
			display: inline-block;
		}
		#diverse {
			height: 35px;
		}
		#ur1 {
			height: 60px;
		}
		#esir {
			height: 35px;
		}
		#irisa {
			height: 35px;
		}
		#inria {
			height: 40px;
		}
		#LIST,#LISTdark {
			height: 75px;
		}
		#BLC {
			height: 45px;
			margin: 15px 0px;
			padding: 0px;
		}
		#BAF {
			height: 45px;
      		padding: 0px;
		}
	}	
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.
div.publications {
	&>div.row {
		padding-right: 15px;
		padding-left: 15px;

		h2.year {
			border-top: 1px solid lighten($grey-color, 20%);
			color: lighten($grey-color, 20%);
			text-align: right;
		}
	}
	ol.bibliography {
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 576px) {
	div.publications {
		&>div.row {
			border-top: 1px solid lighten($grey-color, 20%);
			padding-top: 1rem;

			h2.year {
				writing-mode:vertical-rl;
				margin: 0;
				text-align: left;
				border: none;
				padding: 0;
				color: lighten($grey-color, 20%);
			}
			ol.bibliography li {
				.abbr {
					padding-right: 5px;
					padding-left: 5px;
					
					.badge {
						width: 100%;
						padding-right: 0;
						padding-left: 0;
					}
				}
				.paper {
					padding-right: 5px;
					padding-left: 5px;

					.links {
						a {
							font-weight: bold;
							color: darken($cyan-color, 10%);
						}
					}
				}
			}
		}
	}
}

/*****************************************************************************
* Talks
*****************************************************************************/

#talks {
  .abbr {
    margin-bottom: 0.5rem;

    .badge {
      display: inline-block;
      background-color: var(--global-theme-color);
      margin-bottom: 0.5rem;

      a {
        color: white;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .award {
      color: var(--global-theme-color) !important;
      border: 1px solid var(--global-theme-color);
    }
  }
}