/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: $text-color;
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

a.navbar-brand.title {
  &:hover {
    color: $theme-color;
  }
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

.profile-small {
  .picture {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .infos{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.justify {
  text-align: justify;
}

#affiliation-img {
  text-align: center;

  .center {
    display: inline-block;
  }
  #diverse {
    height: 40px;
  }
  #ur1 {
    height: 65px;
  }
  #esir {
    height: 40px;
  }
  #irisa {
    height: 45px;
  }
  #inria {
    height: 50px;
  }
}

@media (max-width: 409px) {
  .social{
    .contact-icon {
      font-size: 3rem !important;
    }
  } 
  .profile-small {
    .picture {
      max-width: inherit;
      flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      padding-left: 25%;
      padding-right: 25%;
      padding-top: 0;
      margin-bottom: 15px;

      img {
        border-radius: 50% !important;
      }
    }
    .infos{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  #affiliation-img {
    text-align: center;
  
    .center {
      display: inline-block;
    }
    #diverse {
      height: 35px;
    }
    #ur1 {
      height: 60px;
    }
    #esir {
      height: 35px;
    }
    #irisa {
      height: 35px;
    }
    #inria {
      height: 40px;
    }
  }

  .header-bar {
    h1 {
      font-size: 4rem !important;
    }
  }

}

.news {
  .news-small-date {
    min-width: 61px;
    vertical-align: middle;
  }
  .news-date {
    min-width: 100px;
    vertical-align: middle;
  }
  .inline-news {
    vertical-align: middle;
  }
}


// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.


/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

.distill {
  d-byline .byline {
    grid-template-columns: 2fr 2fr 1fr !important;
  }
}

