/******************************************************************************* Variables used throughout the theme. To adjust anything, simply edit the variables below and rebuild the theme. */
/* Set theme colors *************************/
/****************************************************************************** Content */
body { padding-bottom: 70px; color: #111; }

body.fixed-top-nav { padding-top: 56px; }

body.sticky-bottom-footer { padding-bottom: 0; }

.container { max-width: 800px; }

a.navbar-brand.title:hover { color: #009f06; }

.profile img { width: 100%; }

.profile-small .picture { padding-top: 5px; padding-left: 5px; padding-right: 5px; }

.profile-small .infos { padding-left: 5px; padding-right: 5px; }

.justify { text-align: justify; }

#affiliation-img { text-align: center; }

#affiliation-img .center { display: inline-block; }

#affiliation-img #diverse { height: 40px; }

#affiliation-img #ur1 { height: 65px; }

#affiliation-img #esir { height: 40px; }

#affiliation-img #irisa { height: 45px; }

#affiliation-img #inria { height: 50px; }

@media (max-width: 409px) { .social .contact-icon { font-size: 3rem !important; } .profile-small .picture { max-width: inherit; flex: 0 0 100%; -ms-flex: 0 0 100%; padding-left: 25%; padding-right: 25%; padding-top: 0; margin-bottom: 15px; } .profile-small .picture img { border-radius: 50% !important; } .profile-small .infos { padding-left: 15px; padding-right: 15px; } #affiliation-img { text-align: center; } #affiliation-img .center { display: inline-block; } #affiliation-img #diverse { height: 35px; } #affiliation-img #ur1 { height: 60px; } #affiliation-img #esir { height: 35px; } #affiliation-img #irisa { height: 35px; } #affiliation-img #inria { height: 40px; } }

.news .news-small-date { min-width: 61px; vertical-align: middle; }

.news .news-date { min-width: 100px; vertical-align: middle; }

.news .inline-news { vertical-align: middle; }

/****************************************************************************** Publications */
div.publications > div.row { padding-right: 15px; padding-left: 15px; }

div.publications > div.row h2.year { border-top: 1px solid #b5b5b5; color: #b5b5b5; }

div.publications ol.bibliography { flex: 0 0 91.666667%; max-width: 91.666667%; padding-left: 15px; padding-right: 15px; }

@media (min-width: 576px) { div.publications > div.row { border-top: 1px solid #b5b5b5; padding-top: 1rem; } div.publications > div.row h2.year { writing-mode: vertical-rl; margin: 0; text-align: left; border: none; padding: 0; color: #b5b5b5; } div.publications > div.row ol.bibliography li .abbr { padding-right: 5px; padding-left: 5px; } div.publications > div.row ol.bibliography li .abbr .badge { width: 100%; padding-right: 0; padding-left: 0; } div.publications > div.row ol.bibliography li .paper { padding-right: 5px; padding-left: 5px; } div.publications > div.row ol.bibliography li .paper .links a { font-weight: bold; color: #006c04; } }

/***************************************************************************** Projects */
/***************************************************************************** Blog */
.distill d-byline .byline { grid-template-columns: 2fr 2fr 1fr !important; }

.distill d-article > p { text-align: justify; }

.distill d-title > .tags { grid-column: text; }

@media (max-width: 576px) { .header-bar { font-size: 2.5rem !important; padding-top: 1.5rem !important; padding-bottom: 2.5rem !important; } }

@media (max-width: 409px) { .header-bar { font-size: 2rem !important; padding-top: 1rem !important; padding-bottom: 2rem !important; } }

.abbr { height: 2rem; margin-bottom: 0.5rem; }

.abbr .badge { display: inline-block; background-color: #009f06; padding-left: 1rem; padding-right: 1rem; }

/***************************************************************************** Talks */
.auto-resizable-iframe { padding-top: 20px; max-width: 800px; margin: 0px auto; }

.auto-resizable-iframe > div { position: relative; padding-bottom: 60%; height: 0px; }

.auto-resizable-iframe iframe { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }

/******************************************************************************* Styles for the base elements of the theme. */
a, table.table a { color: #009f06; }

a:hover, table.table a:hover { color: #009f06; text-decoration: underline; }

a:hover:after, table.table a:hover:after { width: 100%; }

.equation { margin-bottom: 1rem; text-align: center; }

.caption { font-size: 0.875rem; margin-top: 0.75rem; margin-bottom: 1.5rem; text-align: center; }

.profile .address { font-size: 1.2rem; }

.navbar { box-shadow: none; border-bottom: 1px solid #e8e8e8; opacity: 0.95; }

.navbar.navbar-light a:hover { text-decoration: none; }

.navbar.navbar-light .navbar-nav .nav-item .nav-link:hover { color: #009f06; }

.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link { background-color: inherit; color: #009f06; font-weight: bolder; }

.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link:hover { color: #009f06; }

.navbar.navbar-light .contact-icon { font-size: 2rem; }

.navbar.navbar-light .contact-icon a { color: #424242; }

.navbar.navbar-light .contact-icon a:hover { color: #009f06; }

@media (min-width: 610px) and (max-width: 690px) { .navbar { padding-left: 0; padding-right: 0; } .navbar .navbar-brand { font-size: 1rem; margin-right: 0; } .navbar .navbar-brand .font-weight-bold { font-weight: 200 !important; } .navbar .navbar-brand:after { content: "|"; } .navbar #navbarNav .nav-link { padding-left: 5px; padding-right: 5px; } }

@media (max-width: 610px) { #navbar .navbar-header { float: none; } #navbar .navbar-left, #navbar .navbar-right { float: none !important; } #navbar .navbar-toggler { display: block; } #navbar .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); } #navbar .navbar-fixed-top { top: 0; border-width: 0 0 1px; } #navbar .navbar-collapse.collapse { display: none !important; } #navbar .navbar-nav { float: none !important; margin-top: 7.5px; } #navbar .navbar-nav > li { float: none; } #navbar .navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; } #navbar .collapse.in { display: block !important; } }

.navbar-toggler .icon-bar { display: block; width: 22px; height: 2px; background-color: #424242; border-radius: 1px; margin-bottom: 4px; transition: all 0.2s; }

.navbar-toggler .top-bar { transform: rotate(45deg); transform-origin: 10% 10%; }

.navbar-toggler .middle-bar { opacity: 0; }

.navbar-toggler .bottom-bar { transform: rotate(-45deg); transform-origin: 10% 90%; }

.navbar-toggler.collapsed .top-bar { transform: rotate(0); }

.navbar-toggler.collapsed .middle-bar { opacity: 1; }

.navbar-toggler.collapsed .bottom-bar { transform: rotate(0); }

.news table td { font-size: 1rem; }

.social { text-align: center; }

.social .contact-icon { font-size: 4rem; }

.social .contact-icon a { color: #424242; }

.social .contact-icon a:hover { color: #009f06; }

.social .contact-note { font-size: 0.8rem; }

footer.fixed-bottom { color: #c2c2c2; background-color: #424242; font-size: 0.75rem; }

footer.fixed-bottom .container { padding-top: 9px; padding-bottom: 8px; }

footer.fixed-bottom a { color: white; }

footer.fixed-bottom a:hover { color: #20ff28; text-decoration: none; }

footer.sticky-bottom { border-top: 1px solid #e8e8e8; padding-top: 40px; padding-bottom: 40px; font-size: 0.9rem; }

.header-bar { border-bottom: 1px solid #e8e8e8; text-align: center; padding-top: 2rem; padding-bottom: 3rem; font-size: 3rem; }

.header-bar h1 { color: #009f06; font-size: 100%; }

.header-bar h2 { font-size: 50%; padding-bottom: 1rem; }

.header-bar h3 { font-size: 40%; display: inline; }

.header-bar .tag-list { display: inline; font-size: 16px; }

.post-list { margin: 0; margin-bottom: 40px; padding: 0; }

.post-list li { border-bottom: 1px solid #e8e8e8; list-style: none; padding-top: 2rem; padding-bottom: 2rem; }

.post-list li .post-meta { color: #828282; font-size: 0.875rem; margin-bottom: 0; }

.post-list li a { color: black; text-decoration: none; }

.post-list li a:hover { color: #009f06; }

.tag-list { margin: 0; margin-bottom: 40px; padding: 0; }

.tag-list li { list-style: none; display: inline; }

.tag-list li a { color: white; text-decoration: none; }

.tag-list li a:hover { color: black; }

.pagination .page-item.active .page-link { background-color: #009f06; }

.pagination .page-item.active .page-link:hover { background-color: #009f06; }

.distill a:hover { border-bottom-color: #009f06; text-decoration: none; }

.projects .grid-item { width: 250px; margin-bottom: 10px; }

.projects .grid-item a { color: black; text-decoration: none; }

.projects .grid-item a:hover { color: #009f06; }

.projects .card .card-body { height: 250px; text-align: right; }

.projects .card .card-body h2 { text-align: center; }

.projects .card .card-body .card-text { overflow: hidden; text-align: justify; max-height: 150px; }

.projects .card .card-body .github-row { position: absolute; bottom: 5px; right: calc(1.25rem - 5px); }

.projects .card .image-container { max-width: 100%; height: 250px; overflow: hidden; margin-bottom: 10px; }

.projects .card img { max-width: 100%; object-fit: cover; }

@media (max-width: 549px) { .projects { margin-left: calc(50% - 125px); } }

@media (min-width: 550px) and (max-width: 800px) { .projects { margin-left: calc(50% - 260px); } }

.publications { margin-top: 2rem; }

.publications h2.year { color: #e8e8e8; border-top: 1px solid #e8e8e8; padding-top: 1rem; margin-top: 2rem; margin-bottom: -2rem; text-align: right; }

.publications ol.bibliography { list-style: none; padding: 0; margin-top: 0; }

.publications ol.bibliography li { margin-bottom: 1rem; }

.publications ol.bibliography li .abbr { height: 2rem; margin-bottom: 0.5rem; }

.publications ol.bibliography li .abbr .badge { display: inline-block; background-color: #009f06; padding-left: 1rem; padding-right: 1rem; }

.publications ol.bibliography li span { display: block; }

.publications ol.bibliography li .title { font-weight: bolder; }

.publications ol.bibliography li .author a { border-bottom: 1px dashed #009f06; }

.publications ol.bibliography li .author a:hover { border-bottom-style: solid; text-decoration: none; }

.publications ol.bibliography li .author > em { border-bottom: 1px solid; font-style: normal; }

.publications ol.bibliography li em.star { border-bottom: none; color: #009f06; font-style: normal; }

.publications ol.bibliography li a.abstract, .publications ol.bibliography li a.bibtex { cursor: pointer; }

.publications ol.bibliography li .hidden { font-size: 0.875rem; max-height: 0px; overflow: hidden; text-align: justify; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }

.publications ol.bibliography li .hidden p { line-height: 1.4em; margin: 10px; }

.publications ol.bibliography li .hidden pre { font-size: 1em; line-height: 1.4em; padding: 10px; }

.publications ol.bibliography li .hidden.open { max-height: 100em; -webkit-transition: 0.15s ease; -moz-transition: 0.15s ease; -ms-transition: 0.15s ease; -o-transition: 0.15s ease; transition: all 0.15s ease; }

.publications ol.bibliography li span.abstract.hidden { border: dashed 1px white; }

.publications ol.bibliography li span.abstract.hidden.open { border-color: #828282; }

/*# sourceMappingURL=main.css.map */